$blue: #3597ff;
$secondary: #566b8d;
$min-contrast-ratio: 2.99;

@import "bootstrap/scss/bootstrap.scss";

* {
	font-family: 'SF Pro Display', sans-serif;
	letter-spacing: 1px;
}

#app {
    overflow-x: hidden;
}

::-webkit-scrollbar {
	display: none;
}

.bg-primary-light {
	background-color: rgb(var(--bs-primary-rgb), 0.2);
}

.bg-primary-lighter {
	background-color: rgb(var(--bs-primary-rgb), 0.12);
}

.btn-primary {
	padding: 12px 20px;
	font-size: 14px;
	font-weight: 500;
	border-radius: 6px;
}

.btn-big {
	font-weight: bold;
	width: 80%;
	height: 60px
}

.card-text, .fs-14px {
	font-size: 14px;
}

.nav-side-menu {
	bottom: 100px;

	@media (min-height: 720px) {
		position: absolute;
	}

	p {
		font-weight: normal;
		font-size: 14px;
	}

	.join-discord-btn {
		height: 47px;
	}
}

.join-discord-btn {
	font-size: 12px !important;
	color: #989ca2;
	background-color: rgba(152, 156, 162, 0.15);
	border-color: rgba(152, 156, 162, 0.15);

	&:hover {
		color: #4e5053;
	}
}

.shape-right {
	width: 436px;
	bottom: calc(-436px / 2);
	right: calc(-436px / 2);

	@media (max-width: 1199.98px) {
		width: 218px;
		bottom: calc(-218px / 2);
		right: calc(-218px / 2);
	}
}

.shape-left {
	width: 436px;
	bottom: calc(-436px / 2);
	left: calc(-436px / 2);

	@media (max-width: 1199.98px) {
		width: 218px;
		bottom: calc(-218px / 2);
		left: calc(-218px / 2);
	}
}

.opacity-05 {
	opacity: 0.05;
}

.z--1 {
	z-index: -1;
}

.z-0 {
	z-index: 0;
}

.z-1 {
	z-index: 1;
}

.z-2 {
	z-index: 2;
}

.fade-enter-from {
	opacity: 0;
}

.fade-enter-to {
	opacity: 1;
}

.fade-leave-from {
	opacity: 1;
}

.fade-leave-to {
	opacity: 0;
}

.fade-enter-active, .fade-leave-active {
	transition: 0.9s;
}
